li {
    list-style: none;
}

ul, li, p {
    padding: 0;
    margin: 0;
}

.connect-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin: 30px;
}

.connect {
    padding: 5px 18px;
    background: #64d979;
    color: #fff;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.video-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video-panel {
    display: none;
    align-items: center;
    justify-content: center;
}

.video-panel span {
    padding: 4px 18px;
    border-radius: 6px;
    border: 1px solid #64d979;
    margin: 30px 10px;
    cursor: pointer;
    color: #64d979;
}

.message-wrap {
    display: flex;
    align-items: center;
    width: 610px;
    margin: 0 auto;
}

.send {

}

.message-wrap > div {
    flex: 1;
}

textarea {
    display: block;
}
